$grotesk: 'Roboto', 'Helvetica', Arial, sans-serif;
$serif: 'Georgia', serif;
$darkwhite: #BDBDBD;
$lightgray: #828282;
$darkgray: #4F4F4F;
$cyan: #2D9CDB;
$one-column: 672px;

* { box-sizing: border-box; }
html { margin: 0; padding: 0; }
body {
	background-color: white;
	color: $darkgray;
	font-family: $serif;
	font-size: 0.9rem;
	line-height: 1.6;
	margin: 0;
	a { text-decoration: none; color: $cyan; }
}

h1, h2, h3, h4, h5, h6 {
	font-family: $grotesk;
	color: $darkgray;
}
ol, ul { 
	list-style: none;
	padding: 0
}
li {
	margin: 0;
	padding: 0;
	border: 0;
}
a { text-decoration: none; }

button {
	background: none repeat scroll 0 0 transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:white;
	color: $darkgray;
	font-family: $grotesk;
	font-size: 1rem;
	text-decoration: none;
	text-align: center;
	padding: 0.75rem;
	border: 1px solid $darkgray;
}


#nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 80px;
}

.container {
	padding:0 1.5rem;
	margin: auto;
}

#cv {
	max-width: 1300px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1.5rem;
}

#nav {
	li {
		font-family: $grotesk;
		font-size: 21px;
		padding: 0 1rem;
		min-width: 100px;
		text-align: center
	}
}

.block {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-top: 12px solid $darkgray;
	h2, h3  {
		font-family: $grotesk;
		font-weight: normal;
		font-size: 1.5rem
	}
}

.tags {
	color: $lightgray;
	border-top: 1px solid $darkwhite;
	border-bottom: 1px solid $darkwhite;
	padding: 1rem 0;
}

.project__name,
.info__details,
.course__details {
	border-top: 4px solid $darkwhite;
	padding-top: 1rem;
}

.info__details {
	font-family: $serif;
	font-weight: normal;
}

.course__details {
	border-bottom: 1px solid $darkwhite;
	padding: 1.1rem 0;
}

.project,
.course,
.experience {
	margin-bottom: 2rem;
}

.skills__legend {
	border-top: 1px solid $darkwhite;
	border-bottom: 1px solid $darkwhite;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	ul { margin-top: 0.5rem; }
}

.skills__list {
	margin: 0;
	padding: 0 0 0 1rem;
	border-left: 1.5rem solid;
	border-bottom: 0;
	font-family: $grotesk;
	font-size: 0.9rem;
	li {
		display: flex;
		justify-content: space-between;
		align-items: end;
		svg { max-width: 175px }
	}
	.skills__item {
		height: 30px;
		display: flex;
		align-items: center;
	}
}

#actions {
	max-width: 1300px;
	margin: auto;
	padding: 1.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 1rem;
	@media (max-width: $one-column) {
		grid-template-columns: 1fr;
		grid-row-gap: 1rem;
	}
}

.action__item {
	display: flex;
	justify-content: center;
}

.action__item__btn {
	width: 100%;
	&:hover {
		color: white;
		background-color: $darkgray;
		cursor: pointer;
		transition: all 250ms ease-out;
		svg {
			fill: white;
			transition-delay: 100ms;
			transition: fill 250ms ease-out;
		}
	}
	&:active {
		position:relative;
		top:1px;
	}
	svg {
		fill: $darkgray;
		margin-left: 0.35rem;
	}
	&.disabled {
		color: white;
		cursor:unset;
		border:0;
		background-color: $darkwhite;
		svg { fill: white }
	}
	
}

